version: 1.0.{build}
image: Visual Studio 2017
build:
  verbosity: minimal

environment:
  # Don't report back to the mothership
  DOTNET_CLI_TELEMETRY_OPTOUT: 1

skip_commits:
  files:
  - README.md
  
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: $(APPVEYOR_REPO_TAG_NAME)
  package_version: $(APPVEYOR_REPO_TAG_NAME)
  on:
    appveyor_repo_tag: true


build_script:
- ps: .\build.ps1

test_script:
- ps: .\test.ps1

artifacts:
 - path: src\bin\Release\netcoreapp2.0\win-x86\publish
   name: gitlabcli-windows-v$(APPVEYOR_REPO_TAG_NAME)
   type: zip
 
 - path: src\bin\Release\netcoreapp2.0\linux-x64\publish
   name: gitlabcli-linux-x64-v$(APPVEYOR_REPO_TAG_NAME)
   type: zip

 - path: src\bin\Release\netcoreapp2.0\osx-x64\publish
   name: gitlabcli-osx-x64-v$(APPVEYOR_REPO_TAG_NAME)
   type: zip

deploy:
  release: $(APPVEYOR_REPO_TAG_NAME)
  description: 'Release $(APPVEYOR_REPO_TAG_NAME)'
  provider: GitHub
  auth_token:
    secure: NGWVvSuIrAck0MwMglEqK+Flu3R3RT0c9K5MmNwmY06kd+cqQAb8CgAZk35aLURk
  artifact:
  draft: false
  prerelease: false
  on:
    appveyor_repo_tag: true # deploy on tag push only